html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("drawable/background_Employee.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
a{
    text-decoration: none;
}
#toolbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    flex-direction: row;
    background-color: black;
    display: flex;
    align-items: center;
    padding: 0 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    color: white;
}
#toolbar-logo {
    width: 80px;
    height: 30px;
    margin-right: 10px;
}

.toolbar-item {
    margin: 15px;
    color: rgb(189, 85, 6);
    font-size: 16px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    border-radius: 3px;
    padding: 5px 10px;
}
.toolbar-item:hover {
    background-color: rgba(128, 128, 128, 0.2);
    color: rgb(242, 149, 12);
    padding: 5px 10px;
}
#employee-name {
    top: 60px;
    left: 20px;
    position: absolute;
    font-size: 50px;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
    color: white;
    padding: 20px;
    border: 4px solid white;
    border-radius: 60px;
}
#toolbar-arrow {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 80px;
    height: 30px;
    cursor: pointer;
}
