html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100vh;
    background-image: url("drawable/background_Login(1).png");
    background-repeat: no-repeat;
    display: flex;
    justify-content: center;
    align-items: center;
}
#containerLogo {
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
}
#containerRegistration {
    padding-top: 15px;
    width: 300px;
    margin: 200px auto;
    border: 1px solid rgb(242, 149, 12);
    border-radius: 5px;
    background-color: rgb(189, 85, 6);
    font-family: Arial, sans-serif;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

label {
    font-weight: bold;
    color: rgb(242, 149, 12);
}

input[type="text"], input[type="password"] {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid rgb(242, 149, 12);
    border-radius: 5px;
    box-sizing: border-box;
    color: rgb(189, 85, 6);
}

input[type="submit"], .register-button {
    background-color: rgb(242, 149, 12);
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    margin-top: 10px;
    flex: 1;
    margin: 0 5px;
}

.register-button {
    display: inline-block;
    text-decoration: none;
}


input[type="submit"]:hover, .register-button:hover {
    background-color: rgb(189, 85, 6);
    color: #fff;
}